[bumpversion]
current_version = 2.1.3
commit = True
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\_(?P<release>[a-z]+)(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}_{release}{build}
	{major}.{minor}.{patch}

[bumpversion:part:release]
first_value = dev
optional_value = prod
values = 
	dev
	prod

[bumpversion:part:build]

[bumpversion:file:setup.py]

[bumpversion:file:pyreportjasper/__init__.py]

[bumpversion:file:docs/CHANGELOG.rst]
search = Latest Changes:
replace = Latest Changes:
	- **{new_version} - {now:%Y-%m-%d}**