**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so
**/.Python
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/*.egg-info/
**/.installed.cfg
**/*.egg
**/MANIFEST
**/*.manifest
**/*.spec
**/pip-log.txt
**/pip-delete-this-directory.txt
**/htmlcov/
**/.tox/
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/.hypothesis/
**/.pytest_cache/
**/*.mo
**/*.pot
**/*.log
**/local_settings.py
**/db.sqlite3
**/instance/
**/.webassets-cache
**/.scrapy
**/docs/_build/
**/target/
**/.ipynb_checkpoints
**/.python-version
**/celerybeat-schedule
**/*.sage.py
**/.env
**/.venv
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/
**/.spyderproject
**/.spyproject
**/.ropeproject
**/site
**/.mypy_cache/
**/.data/
**/.idea/



**/test/resources/reports/*.pdf
**/test/resources/reports/*.odt
**/test/resources/reports/*.rtf
**/test/resources/reports/*.xls
**/test/resources/reports/*.xlsx
**/test/resources/reports/*.html
**/test/resources/reports/*.ods
**/test/resources/reports/*.docx
**/test/resources/reports/*.csv
**/test/resources/reports/*.xml
**/test/resources/reports/*.pptx
**/test/resources/reports/*.jasper
**/test/resources/reports/*.jrprint



**/pyreportjasper/_libs/
