/venv
/__pycache__
/dist
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/test/resources/reports/*.pdf
/test/resources/reports/*.odt
/test/resources/reports/*.rtf
/test/resources/reports/*.xls
/test/resources/reports/*.xlsx
/test/resources/reports/*.html
/test/resources/reports/*.ods
/test/resources/reports/*.docx
/test/resources/reports/*.csv
/test/resources/reports/*.xml
/test/resources/reports/*.pptx
/test/resources/reports/*.jasper
/test/resources/reports/*.jrprint

*.coverage
htmlcov/
# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
/coverage.json

#Ipython Notebook
.ipynb_checkpoints

.idea
/htmlcov
main.pygst

*.sublime-workspace


/pyreportjasper/_libs
/pyreportjasper/__libs
/sub
teste.py
