name: Publish Conda Package

on:
  release:
    types: [published, edited]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: publish-to-conda
      uses: maxibor/conda-package-publish-action@v1.1
      with:
        subdir: 'conda'
        AnacondaToken: ${{ secrets.ANACONDA_TOKEN }}